.cw-legend{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.cw-legend-color-bar {
  width: 64px;
  height: 12px;
  border-radius: 999px;
  margin: 0.25rem auto 0.75rem; 
}

.cw-legend-name {
  font-size: 3rem; 
  font-weight: 600; 
  width: 21rem; 
}

.cw-legend-code {
  font-size: 2rem;  
  opacity: 0.7;
}

.cw-legend-description {
  font-size: 1rem;  
  opacity: 0.7;
  width: 17rem;
  margin: 0 auto;
}



@media (max-width: 600px) {
  .cw-legend-color-bar {
    margin: 0 auto;
  }
}